# Python Dependencies
/venv/*

# Python Notebook Stuff
.ipynb*
data/.ipynb_checkpoints*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# General
.DS_Store
.AppleDouble
.LSOverride
chromadb/chroma.sqlite3
chromadb/*/*
